*{/*border:solid 2px black;*/
	}
html,body{
  background:linear-gradient(12deg,#7400A1,	#FF95CA);
width:100%;
height:100%;
  display:flex;
justify-content:center;
  color:#4B0080;
  align-items:center;}
.box{
width:380px;
background-color:#E6CFE6;
box-shadow:0px 0px 0px rgba(199,21,133,0.3);	
}
.box:hover{
	box-shadow:20px 30px 0px rgba(199,21,133,1);/*有順序差異*/
	transform:translate(5px,5px)
}
a: {color: initial;}
.btnWebsit{color:	#800080;
font-family:微軟正黑體;}
.top{
height:330px;
background-image:url(https://img.onl/0MVoqV);
background-size: cover;
position: relative;
}
.telto{
color:#990036;
font-family:微軟正黑體;}
.mailto{
color:#990036;
font-family:微軟正黑體;}
.cirbutten{width:100px;
height:100px;
border-radius:50%;
position: absolute;
right:-30px;
border:5px solid	#FFAAD5;
bottom:-200px;
font-family:微軟正黑體;}

.top .name{
font-family:微軟正黑體;
font-size:24px;
letter-spacing: 7px; 
padding: 90px 180px;
bottom: -20px ;
color: #4B0080;
background:linear-gradient(transparent 20%, white 100%);
width:20px;

 }
.smallText{
  font-size:25px;
  font-family:微軟正黑體;
  left:100px;}

.tag{
  width:15px;
  height:130px;
  position: absolute;
  right:350px;
  bottom:20px;
  background-color:#800080;
}
.teg{ width:140px;
  height:15px;
  position: absolute;
  right:20px;
  bottom:30px;
  background-color:#800080;}
.cirbutton{width:50px;
height:50px;
background-color:#C71585;
border-radius:50%;
position: absolute;
right:50px;
bottom:-150px;
}

.bottom{
  padding:20px 20px 20px 20px;
}
.bottom li{list-style:none;
padding-left:0}
.bottom ul{
  list-style:none;
  padding-left:0;
}
.bottom h3{
  display:inline-block;
font-family:微軟正黑體;}
.buttons{margin-top:20 px;
}
.buttons .btn{
	text-decoration: initial;
  display:inline-block;
  border:solid 2px white;
  padding:20px 30px;
  letter-spacing:10 px;
}
.btnNews{
text-decoration:none;
font-family:微軟正黑體;
font-size: 20px;
color:#C71585;
padding: 20px 50px;
border: 3px solid white;
position: relative;
bottom:-50px;
right:-100px;
}
.btnNews:hover{
	background-color:#C71585;
  color:#E0FFFF;}

.btnNews::before,
.btnNews::after{
  content: "";
  position:absolute;
  width:40px;
  height:40px;
  border:inherit;
  transition: all .5s;}

.btnNews::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
  }
.btnNews::after{
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
  }
.btnNews:hover::before,
.btnNews:hover::after{
    width:calc(100% + 27px);
    height: calc(100% + 27px);
  }
.btnWebsit{
text-decoration:none;
  font-size: 20px;
color:#C71585;
padding: 20px 50px;
border: 3px solid white;
position: relative;
bottom:-20px;
right:-20px;}
.btnWebsit:hover{
	background-color:#C71585;
  color:#E0FFFF;}

.btnWebsit::before,
.btnWebsit::after{
  content: "";
  position:absolute;
  width:40px;
  height:40px;
  border:inherit;
  transition: all .5s;}

.btnWebsit::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
  }
.btnWebsit::after{
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
  }
.btnWebsit:hover::before,
.btnWebsit:hover::after{
    width:calc(100% + 27px);
    height: calc(100% + 27px);
  }
.spinner{
  position:relative;
width:80px;
height:80px;
border-radius:50%;
left:25px;
bottom:600px}
.spinner::before,
.spinner:after{content:"";
position:absolute;
border-radius:inherit;}
.spinner:before{
  width:100%;
  height:100%;
  background-image:linear-gradient(0deg,#ff00cc 0%,#333399 100%);
  animation:spin.5s infinite linear;
}
.spinner:after{
  width:85%
    height:85%
    background-color:#151515;
  top:600;
   left:50%;
    transform:translate(-50%,-50%);
}
@keyframes spin{to{transform:rotate(360deg);}}
.loader-wrapper {
  width: 60px;
  height: 60px;
}

.loader {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 12px solid	#D9006C;
  border-top-color: 	#FF95CA;
  border-bottom-color:	#FAF4FF;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

.loader-inner{
  border-top-color: #750075;
  border-bottom-color:	#F00078;
  animation-duration: 3s;
}

@keyframes rotate {
  0%{
    transform: scale(1) rotate(360deg);
  }
  50%{
    transform: scale(.8) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
.tog{ width:300px;
  height:10px;
  position: absolute;
  right:20px;
  bottom:-475px;
  background-color:#D9006C;}